wp-content/upgrade/*
wp-content/backup-db/*
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/w3tc-cache/*
wp-content/plugins/advanced-cron-manager/vendor
wp-content/plugins/advanced-cron-manager/assets
wp-content/plugins/advanced-cron-manager/autoload.php
wp-content/plugins/advanced-cron-manager/composer/
wp-content/plugins/advanced-cron-manager/underdev/
wp-content/plugins/*
wp-content/uploads/*
wp-content/wflogs/*
leads/*
leads/
wp-content/uploads/2018/09/Savi-8200-Lifestyle-Video.mp4
.well-known/acme-challenge/*
wp-config.php
.htaccess
ehthumbs.db
Thumbs.db
404.php

# ignore compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so
*.log
# ignore packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
